@import url('https://fonts.googleapis.com/css2?family=Crafty+Girls&family=Lobster&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
 header{
    padding-block: 15px;
    display: flex;
    justify-content: star;
    gap: 15px;
    width:333px ;
    overflow-x: auto;
    margin: 20px auto;
   padding-inline-start: 5px;
 }
@media screen and (min-width: 970px) {
  header{
     width:450px ;
  } 
  }

  /* Estilos scroll*/
header::-webkit-scrollbar {
  width: 1px; 
}

header::-webkit-scrollbar-track {
  background: transparent; 
}

header::-webkit-scrollbar-thumb {
  background-color: rgba(234, 195, 245, 0.3); 
  border-radius: 10px; 
}


header::-webkit-scrollbar-button {
  display: none;
}
